@{
}


<div class="card card-fluid container-data">
    <div class="card-body" style="min-height:600px">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h6 class="mb-0">Basic Information</h6>
                    </div>
                    <div class="card-body mb-3">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Name</label>
                                <input type="hidden" value="0301001" />
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>